.displayInfoBox {
  position: absolute;
  top: 70%;
  z-index: 555;
  width: 70%;
  height: 200px;
}

.infoContainer {
  background-color: #fff;
  display: flex;
  border-radius: 8px;
  height: 150px;
  width: 100%;
  align-items: center;
  justify-content: space-between;

  div {
    border-right: 1px solid rgb(211, 211, 211);
  }

  div:last-of-type {
    border-right: none;
  }
}

.innerContainer {
  display: flex;
  flex-direction: column;
  height: 50%;
  padding: 20px;
  align-items: flex-start;
  justify-content: center;
  color: #000;
  font-weight: 700;
  width: 100%;

  h4 {
    font-size: 12px;
    font-weight: 400;
    color: rgb(100, 100, 100);
    padding: 0;
  }
}

@media (max-width: 500px) {
  .infoContainer {
    flex-direction: column;
    height: 200px;

    div {
      border: none;
    }
  }

  .innerContainer {
    height: 25%;
    width: 90%;
    justify-content: center;
    align-items: center;
    padding: 0;
    text-align: center;
    h4 {
      margin: 0;
      margin-bottom: 5px;
    }
  }
}
