.header {
  background-image: url('./assets/pattern-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
}
.header_textBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  padding: 2rem 0 5rem;
  & h1 {
    margin: 1rem auto 2rem;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 400;
  }
}
